$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 15px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 15px;

}

.navbar {
  margin-bottom: 15px;
}

.navbar-brand img {
  height: 30px;
}

.navbar-brand {
  padding: 10px;
}

#addGame {
  margin-top: 20px;
  margin-bottom: 10px;
}
