<div class="row">
  <div class="col-lg-10">
    <h1>Edit game #{{game.id}}</h1>
  </div>
  <div class="col-lg-2 pull-right">
    <!-- Button trigger modal -->
    <a id="addGame" ng-href="#/" class="btn btn-default pull-right">Back to Game List</a>
  </div>
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-3">
      <input type="text" class="form-control" id="name" ng-model="game.name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="button" class="btn btn-primary" ng-click="saveGame()">Save</button>
    </div>
  </div>
</form>
